@charset "utf-8";

@media all and (max-width:1024px) {

  /* HEADER */
  .navbar__menu {
    display: none;
  }
  .navbar__toggle-Btn {
    display: block;
  }

  /* Main */

}

@media all and (max-width: 768px) {
  #contact {
    flex-direction: column;
}

.home__text {
  margin: 150px 15px 0 15px;
}

.home__text p {
  width: 100%;
  font-size: 18px;
  padding: 0;
}

.home__text p>span {
  font-size: 11px;
  padding: 10px 0;
}

.sns {
  padding: 10px 0 70px 0;
}

}

@media all and (max-width: 580px) {
  .service__menu {
    flex-direction: column;
    margin-top: 30px;
  }
  
  .service__menu__list {
    margin: 5px auto;
    width: 70%;
  }
}
@media all and (max-width: 420px) {
  
  .service__menu__list {
    width: 100%;
  }
}