@charset "utf-8";

@media all and (max-width: 768px) {
  #navbar {
    display: block;
    width: 100%;
  }
  .logo {
    text-align: center;
  }

  .navbar__menu {
    display: none;
  }

  #contact {
    flex-direction: column;
}

.home__text {
  margin: 150px 15px 0 15px;
}

.home__text p {
  width: 100%;
  font-size: 18px;
  padding: 0;
}

.home__text p>span {
  font-size: 11px;
  padding: 10px 0;
}

.sns {
  padding: 10px 0;
}

.arrow-up {
  width: 50px;
  height: 50px;
  font-size: 30px;
  right: 25px;
  bottom: 25px;
  line-height: 30px;
}

}

